<div class="col-9">
    <div class="row">
    <div class="table-responsive" style="border: 10px" id="tablecontainer"></div>
  </div>
  <div class="row" style="padding: 20px">
      <div class="col-sm">
        <p id="ptsload"> Loading points... </p>

        <h3 id="ptsdisplay"  style="display: none;">
          <div  id="ptsoutput">
          </div>
          <small class="text-muted">Pts</small>
        </h3>
        <div style="padding: 20px"><div id="loader" class="loader"></div></div>

      </div>
      <div class="col-sm">
        <p id="astload"> Loading assists... </p>
        <h3 id="astdisplay"  style="display: none;">
          <div  id="astoutput">
          </div>
          <small class="text-muted">Asts</small>
        </h3>
        <div style="padding: 20px"><div id="loader1" class="loader"></div></div>

        
      </div>
      <div class="col-sm">
        <p id="rebload"> Loading  rebounds... </p>
        <h3 id="rebdisplay"  style="display: none;">
          <div  id="reboutput">
          </div>
          <small class="text-muted">Rebs</small>
        </h3>
        <div style="padding: 20px"><div id="loader2" class="loader"></div></div>

      </div>
      <div class="col-sm">
        <p id="fg3load"> Loading 3s made.. </p>
        <h3 id="fg3display"  style="display: none;">
          <div  id="fg3output">
          </div>
          <small class="text-muted">3s</small>
        </h3>
        <div style="padding: 20px"><div id="loader3" class="loader"></div></div>

      </div>
  </div>

  </div>